$background_color: #ffffff;
$text_color: #000000;
$text_secondary_color: #504e4a;
$main_background_color: #e7e8e9;
$brand_primary: #b92770;

$header_line_color: #727174;

$hero_background_color: #e7e8e9;

$cart_quantity_btn_color: #707070;
$cart_quantity_label_color: #504e4a;
$cart_quantity_select_color: #e9e9ed;

$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1440px;
